/**
 * All your custom CSS should go into this file
 */

body {
   padding-top: 15px;
}

.something-semantic {
   display: table;
   width: 100%;
}
.something-else-semantic {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}