/**
 * All your custom CSS should go into this file
 */

body {
   padding-top: 60px;

   /*text-align: center;*/
}

/*body {
		margin-top: 40px;
		text-align: center;
		font-size: 14px;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		}
*/
.xdebug-var-dump {
	background-color: #f7f7f9
}
